.root {
}

.boardDisplay {
  height: 52vh;
  width: 51vh;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
}

.endGameMarkers {
  height: 52vh;
  width: 51vh;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
}

.leftVerticalLine {
  position: absolute;
  left: 16.5vh;
  height: 52vh;
  width: 1vh;
  background: #8A8A8A;
  z-index: 2
}

.rightVerticalLine {
  position: absolute;
  left: 33.5vh;
  height: 52vh;
  width: 1vh;
  background: #8A8A8A;
  z-index: 2
}

.topHorizontalLine {
  position: absolute;
  height: 1vh;
  width: 52vh;
  top: 16.5vh;
  background: #8A8A8A;
  z-index: 2
}

.botHorizontalLine {
  position: absolute;
  height: 1vh;
  width: 52vh;
  top: 34vh;
  background: #8A8A8A;
  z-index: 2
}

topWin {
  position: absolute;
  height: 1vh;
  width: 52vh;
  top: 8.25vh;
  background: red;
  z-index: 3
}

.midWin {
  position: absolute;
  height: 1vh;
  width: 52vh;
  top: 24.75vh;
  background: red;
  z-index: 3
}
.botWin {
  position: absolute;
  height: 1vh;
  width: 52vh;
  top: 41.25vh;
  background: red;
  z-index: 3
}
.leftWin {
  position: absolute;
  left: 8.25vh;
  height: 52vh;
  width: 1vh;
  background: red;
  z-index: 3
}
.centerWin {
  position: absolute;
  left: 24.75vh;
  height: 52vh;
  width: 1vh;
  background: red;
  z-index: 3
}
.rightWin {
  position: absolute;
  left: 41.25vh;
  height: 52vh;
  width: 1vh;
  background: red;
  z-index: 3
}
.botLeftWin {
  position: absolute;
  left: 23vh;
  height: 55vh;
  width: 1vh;
  background: red;
  z-index: 3;
  -webkit-transform: rotate(45deg);
}
.topLeftWin {
  position: absolute;
  left: 27vh;
  height: 55vh;
  width: 1vh;
  background: red;
  z-index: 3;
  -webkit-transform: rotate(315deg);
}

.square {
  height: 16vh;
  width: 16vh;
  display: inline-block;
  margin: .5vh;
  position: relative;
}

.centeredImage {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.topWin {
  position: absolute;
  height: 1vh;
  width: 52vh;
  top: 8.25vh;
  background: red;
  z-index: 3;
}
.midWin {
  position: absolute;
  height: 1vh;
  width: 52vh;
  top: 24.75vh;
  background: red;
  z-index: 3;
}
.botWin {
  position: absolute;
  height: 1vh;
  width: 52vh;
  top: 41.25vh;
  background: red;
  z-index: 3;
}
.leftWin {
  position: absolute;
  left: 8.25vh;
  height: 52vh;
  width: 1vh;
  background: red;
  z-index: 3;
}
.centerWin {
  position: absolute;
  left: 24.75vh;
  height: 52vh;
  width: 1vh;
  background: red;
  z-index: 3;
}
.rightWin {
  position: absolute;
  left: 41.25vh;
  height: 52vh;
  width: 1vh;
  background: red;
  z-index: 3;
}
.botLeftWin {
  position: absolute;
  left: 23vh;
  height: 55vh;
  width: 1vh;
  background: red;
  z-index: 3;
  -webkit-transform: rotate(45deg);
}
.topLeftWin {
  position: absolute;
  left: 27vh;
  height: 55vh;
  width: 1vh;
  background: red;
  z-index: 3;
  -webkit-transform: rotate(315deg);
}
.alertBar {
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  width: 50%;
  text-align: center;
}

.modalButton {
  background-color: transparent;
  border: none;
  position: relative;
  display: block;
  margin: auto;
}
.turingTest {
  position: absolute;
  margin: auto;
  top: 30vh;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.turingButton {
  background-color: transparent;
  border: none;
  position: relative;
  margin: auto;
  padding-left: 3em;
  paddin-right: 3em;
}
.gitHubBar {
  top: 0;
}

.githubButton {
  background: white;
  color: black;
  border: none;
}
